html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}


body {
    font-family: 'Roboto', sans-serif;
    background-color: #f4f4f9;
}

.card {
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-body {
    padding: 30px;
}

.btn-primary {
    padding: 12px;
    border-radius: 30px;
}

.btn-outline-danger {
    padding: 12px;
    border-radius: 30px;
}

.btn-warning {
    padding: 8px;
    border-radius: 30px;
}
